@using Presentation.ViewModels.Tentamens;
@model TentamensViewModel

<div class="tentamens-page">
    <h3>Voeg leeruitkomst toe</h3>
    <div class="content">
        @using (Html.BeginForm("FilterLeeruitkomstenViaOpleiding", "Tentamens"))
        {
            <table>
                <tr>
                    <td>@Html.Label("Opleidingen"):</td>
                    <td>
                        @Html.DropDownListFor(m => m.GeselecteerdeOpleidingId,
                        Model.Opleidingen.Select(m => new SelectListItem
                        {
                            Value = m.Id.ToString(),
                            Text = m.Naam
                        }))
                    </td>   
                    <td>
                        <button class="btn btn-primary">Filter</button>
                    </td>
                </tr>
            </table>
            @Html.HiddenFor(m => m.TentamenId)
            @Html.HiddenFor(m => m.GeselecteerdeOpleidingId)
        }

        @using (Html.BeginForm("KoppelLeeruitkomstAanTentamen", "Tentamens"))
        {
            <table>
                <tr>
                    <td>@Html.Label("Leeruitkomsten"):</td>
                    <td>
                        @Html.DropDownListFor(m => m.GeselecteerdeLeeruitkomstId,
                        Model.Leeruitkomsten.Select(m => new SelectListItem
                        {
                            Value = m.Id.ToString(),
                            Text = m.Naam
                        }))
                    </td>
                </tr>
            </table>
            @Html.HiddenFor(m => m.TentamenId)
            @Html.HiddenFor(m => m.GeselecteerdeLeeruitkomstId)
            <button class="btn btn-primary">Voeg toe</button>
        }
    </div>
</div>